__pycache__
.*.swp
dialmonkey.egg-info
venv
.env
.venv
.DS_Store
.idea
hw4_data

predictions.txt
predicted.txt
dstc2*.json
hw4_nlu*.txt
dialogues_train.txt
example-output.txt
history*.json
.ipynb_checkpoints